div 
 {
  height: 29rem;
  width:  51.5rem;
  border: 2px green solid;
  margin: 10rem auto;
  padding: .5rem;
  text-align: center;
 }
 img 
  {
  display: block;
  height: 28rem;
  width:  25rem;
  border: 2px red solid;
  margin: .3rem;
  }
  .flex-container 
  {
   display: flex;
  }